/Apex Legends.url
/asic depreciation tax writeoff.png
/back of iceriver ks0 controlboard.png
/Bruce
/CIT_352_FinalProject.doc
/CIT_352_FinalProject.odt
/Correct Order ID; Backend is broken on LINKEDIN.png
/CyberGhost 8.lnk
/desktop.ini
/Discord.lnk
/discord_backup_codes.txt
/discover statements.pdf
/Electron Radiant.lnk
/Fidelity
/Fidelity Active Trader Pro®64.appref-ms
/Fidelity Business Account Information.zip
/Fortnite.url
/GGeltman.wallet
/GitHub Desktop.lnk
/Independent Contractor Agreement.odt
/Kindle.lnk
/ks1 firmware look for that .bin.png
/Lab 7 - Tables & Forms.docx
/Lab 7 - Tables & Forms.odt
/Lab3_GeltmanGeoffrey.docx
/lab5 geltman SECURITY ACAMPORA.doc
/lab5 geltman SECURITY ACAMPORA.txt
/Lab6.odt
/Lab7_Geltman.Geoffrey.doc
/Lab9_GeltmanGeoffrey.txt
/LinkedIN DISCREPANCIES.png
/LinkedIN LAGGARD SUBSCRIPTION CANCELLATION.png
/LinkedIn predotary processes.png
/lit
/lolMiner-releases-1.65.zip
/Mining Dump
/MSI Afterburner.lnk
/OpenOffice 4.1.13 (en-US) Installation Files
/pandaminer.jpeg
/PAYPAL TRUE INVOICE ID.png
/Security Lab 7 - Tables & Forms.pdf
/setup (4).exe
/Signal.lnk
/Telegram.lnk
/Thinkorswim margin data.png
/thinkorswim.lnk
/Trader Workstation.lnk
/updated email from laggard linkedIN.png
/Visual Studio Code.lnk
/Web-Labs9
/whats inside the iceriver.png
/WhatsApp Web.lnk
/Zoom.lnk